!!!
html
	head
		title= title
		link( rel = 'stylesheet', href = '/stylesheets/style.css' )

		script( src = 'javascripts/lib/jquery-1.6.4.min.js' )
		script( src = 'javascripts/lib/require.js' )
		script( src = 'javascripts/lib/ejs/ejs.js' )
		script( src = 'javascripts/lib/socket.io-client/dist/socket.io.js' )

		script( src = 'javascripts/commune.js' )

	body!= body
